<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>337689263237-efm2e2snh1mvp6p4cin4q8mpbhjrepjb.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.337689263237-efm2e2snh1mvp6p4cin4q8mpbhjrepjb</string>
	<key>API_KEY</key>
	<string>AIzaSyCNYddphuG0E9VgAyFchB6knwKBJgOqhKw</string>
	<key>GCM_SENDER_ID</key>
	<string>337689263237</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.gtkFlutter</string>
	<key>PROJECT_ID</key>
	<string>fir-flutter-codelab-6d2ac</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-flutter-codelab-6d2ac.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:337689263237:ios:d538c81b915d4bb5537dec</string>
</dict>
</plist>